# .NET ignore
[Bb]in/
[Oo]bj/
*.user
*.suo
*.sln
*.nupkg
*.csproj.user
*.vs/
_ReSharper*/

# Node.js ignore
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug/
.pnpm-store/
.yarn/*
.npm/*
.pnpm-lock.yaml
yarn.lock
package-lock.json

# General ignore
.DS_Store
Thumbs.db
*.log
*.cache/
*.tmp
*.temp